.justified-text {
    text-align: justify;
    text-justify: inter-word;
}
textarea {
    resize: vertical;
}

img.max {
    max-width: 175px;
    max-height: 175px;
}

#showcase > div > div > a > h3 {
    padding-top: 10px;
}

#services {
    background-color: #191919;
}