.justified-text {
    text-align: justify;
    text-justify: inter-word;
}
textarea {
    resize: vertical;
}

img.max {
    max-width: 175px;
    max-height: 175px;
}

#showcase > div > div > a > h3 {
    padding-top: 10px;
}

#services, #contact {
    background-color: #191919;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, .15); /* WebKit */
    -moz-box-shadow: inset 0 5px 5px rgba(0, 0, 0, .15); /* Firefox */
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, .15); /* Standard */
}